.Quote-box {
  background-color: antiquewhite;
  width: fit-content;
  height: fit-content;
  color: black;
  padding: 8%;
}

.resize-animation {
  @apply rounded-md text-center
  bg-zinc-100 h-fit p-8 mx-4 mix-blend-screen text-transparent/100 px-10
  box-content
  ;
}

.the-buttons{
  @apply
  rounded-md
  text-white
  bg-black
  box-content
  p-1;
}